body {
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url("modern-wavy-dark-color-nyei4qjsot2yu2nj.jpg");
    margin: 0;
    padding: 0;
}

.page {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Prevents content overflow */
    margin-bottom: 3%;
}

h1, h3 {
    text-align: center;
    color: #333;
}

h3 {
    margin-top: 40px;
}

/* Flexbox layout for visualizations and descriptions */
.vis-container {
    display: flex;
    flex-direction: column;
}

.vis-row {
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically if needed */
    flex-direction: column; /* Stack items vertically */
    padding: 20px;
}

.vis-item-map, vis-item-line, .vis-item-bar, .vis-item-pie {
    max-width: 100%; /* Ensures the visualization doesn't overflow */
    min-width: 0; /* Prevents overflow */
    box-sizing: border-box; /* Ensures padding and borders are included in width calculations */
    position: relative; /* Allows for child elements to position correctly */
    margin: 0 auto; /* Center the element */
    margin-bottom: 15px; /* Space below the map */
}

.description-map, description-line, .description-bar, .description-pie {
    text-align: left;
    font-size: 16px;
    color: #555;
    padding: 0 10px; /* Space inside the description box */
}

/* Styling for data source */
.data-source {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
}

.data-source a {
    color: #1e90ff;
    text-decoration: none;
}

.data-source a:hover {
    text-decoration: underline;
}