body {
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url("modern-wavy-dark-color-nyei4qjsot2yu2nj.jpg");
    margin: 0;
    padding: 0;
}

.page {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Prevents content overflow */
    margin-bottom: 3%;
}

h1, h3 {
    text-align: center;
    color: #333;
}

h3 {
    margin-top: 40px;
}

/* Flexbox layout for visualizations and descriptions */
.vis-container {
    display: flex;
    flex-direction: column;
}

.vis-row {
    display: flex; /* Use flexbox layout */
    justify-content: space-between; /* Space out items evenly */
    align-items: flex-start; /* Align items to the start */
    padding: 20px;
}

.vis-item-map, .vis-item-line, .vis-item-bar, .vis-item-pie {
    max-width: 75%; /* Set a max width for the visualizations */
    min-width: 0; /* Prevent overflow */
    box-sizing: border-box; /* Ensure padding and borders are included */
    margin-right: 20px; /* Add space between the graph and description */
}

.description-map, .description-line, .description-bar, .description-pie {
    max-width: 25%; /* Set a max width for the descriptions */
    font-size: 16px;
    color: #555;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: justify; /* Justify text */
    flex-direction: column; /* Align items in a column */
    height: 100%; /* Ensure it takes full height for vertical centering */
    padding: 20px; /* Optional: Add padding for better spacing */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

/* Styling for data source */
.data-source {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
}

.data-source a {
    color: #1e90ff;
    text-decoration: none;
}

.data-source a:hover {
    text-decoration: underline;
}